Agente de News.json
{
  "name": "Agente de News",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        304
      ],
      "id": "aefae953-52f1-4909-bbbc-0044475621d1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.uol.com.br/vueland/api/?loadComponent=XmlFeedRss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -192,
        304
      ],
      "id": "599a7fb1-fda9-446c-9918-40d015011767",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c299035e-1489-4db2-a727-e3ed647ce210",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "2026-03-17T05:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            },
            {
              "id": "6af9e317-c150-46f4-bcd6-506fbef69e92",
              "leftValue": "={{ $json.link }}",
              "rightValue": "cotidiano",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        304
      ],
      "id": "f57a6a58-c20e-4a50-b321-8929e3995178",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79e4810d-dc40-4abc-b36f-1b8043f568f6",
              "name": "combined",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "7982cbc5-99ae-4742-9c53-f4e7c994740c",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        288
      ],
      "id": "19f090e1-3e0c-4dda-abd3-527afbc5e89c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "A partir da noticia , crie um resumo dissertativo em português ,usando uma linguagem bem simples e facil de entender. "
            },
            {
              "content": "={{ $json.combined }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        640,
        288
      ],
      "id": "560668fd-7999-40ad-bade-e619acdc2529",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "mWnCNQ1caOhrLc18",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os itens e junta o campo \"combined\" em um unico texto\nconst allText = items.map(item => item.json.combined).join(\"<br>\");\n\n// Retorna só 1 item com esse texto\nreturn [\n  {\n    json: {\n      combined: allText \n    }\n  }\n  \n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        288
      ],
      "id": "c1e039be-3671-4df4-ab63-a429cdc59f48",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "marcel.bento222@gmail.com",
        "subject": "Noticias do dia !",
        "emailType": "text",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        288
      ],
      "id": "144288a7-5eb0-4aa9-9953-cc78715d6214",
      "name": "Send a message",
      "webhookId": "7f561939-8e69-43af-84e1-30fba70a6a45",
      "credentials": {
        "gmailOAuth2": {
          "id": "LIsn5ZqiOMalw641",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1584c882-98a8-40c2-baaa-caa57a201b3a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b109bb57244e4956a8ca5fadb6f79a63eb16f7d472680d3ac7d626a61a75009"
  },
  "id": "gmSO2cd3xapR4GjU",
  "tags": []
}